body {
    padding: 0;
    margin: 0;
}

div {
    width: 100vw;
}

button {
    float: left;
}

.output {
    text-align: center;
    height: 20vh;
}

.graphContainer {
    text-align: center;
    height: 400px;
    background-color: red;
}

.graph {
    position: absolute;
}

.buttonContainer button {
    width: 25vw;
    height: 10vh;
}

.buttonContainer2 button {
    width: 33.3vw;
    height: 10vh;
}